.aaa {


  color: white;
  text-align: center;
  margin-bottom: 3em;


}

h3 {

  font-size: 100px;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}
#samsung{
  height:50px;
  width:100px;
}
